<footer>
    <span class="foot1">
        Nervensache | Hilfe für querschnittgelähmte Menschen e.V.
    </span>
    <span class="foot2">
        Heinrich-Hoffmann-Straße 3<br>
        60528 Frankfurt
    </span>
    <span class="foot3">
        Spendenkonto:<br>
        Frankfurter Sparkasse<br>
        IBAN DE66 5005 0201 0200 6547 05
    </span>
    <span class="foot4">
        © 2018<br>
        <a href="{{ "/kontakt/" | relative_url }}">Impressum</a><br>
        <a href="{{ "/kontakt/#datenschutz" | relative_url }}">Datenschutz</a>
    </span>
    <span class="foot5">
        Telefon +49 69 25717757<br>
        <a href="mailto:info@nervensache.org">info@nervensache.org</a><br>
        www.nervensache.org
    </span>
    <span class="foot6">
        Der Verein Nervensache | Hilfe für querschnittgelähmte Menschen e.V. ist
        berechtigt für Spenden Zuwendungsbestätigungen auszustellen. Er ist durch das Finanzamt Frankfurt am Main als steuerbegünstigt anerkannt.
    </span>
</footer>
